body{background-color:#5c5651; color:#7ed490;margin:0px auto;}

header{background-color:#ff9600; color:#333; padding:12px;display:block;}

footer{background-color:#ffcd88; color:#333; margin-left:auto;margin-right:auto;display:block;padding-top:12px;padding-bottom:12px;}

p{font-family:'Roboto Light', Myriad Pro !important;font-size:14px;line-height:1.22857143;color:#7ed490;}

.big{font-family:'Roboto Light', Myriad Pro !important;font-size:20px;line-height:1.22857143;color:#7ed490;}

.nav-home{background: url("../images/nav-icon-home.png") no-repeat center top;background-size: 45%;}

.nav-jobs{background: url("../images/nav-icon-jobs.png") no-repeat center top;background-size: 45%;background-position-y: 3px;}

.nav-rewards{background: url("../images/nav-icon-rewards.png") no-repeat center top;background-size: 45%;}

.nav-carrots{background: url("../images/nav-icon-carrots.png") no-repeat center top;background-size: 45%;}

.nav-circles{background: url("../images/nav-icon-circles.png") no-repeat center top;background-size: 45%;}

.page-title{font-family:'Roboto Thin', Myriad Pro !important;color:#e0e0e0;font-size:30px;line-
height:1.42857143;max-height:110px;padding-top:15px;border:none;height:65px;}

.nav{padding-left:0;margin:0px auto;list-style:none}.nav li{position:relative;display:inline-block !important}.nav li a{position:relative;display:inline-block;min-height:128px;border-radius:0px;border:none; color:#ffcb5a;}

.navbar-default{background-color:#524e4d;border-radius:0px;border:none;color:#ffcb5a;}

.navbar-default{border-bottom:2px solid #ffa72b;max-height:128px;}

ul{text-align:center;dsplay:block;}

.navbar-nav li a{font-family:'Roboto Light', Myriad Pro !important;float:left; max-height:128px;color:#ffcb5a; font-size:18px;padding-top:95px;}

.navbar-nav{max-height:128px;}

.panel{margin-bottom:20px;background-color:#5e5653;border:0px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}

.panel-home{margin-bottom:20px;background-color:#534d4a;border:none;border-radius:12px;max-width:700px;float-left;position:relative;}

.panel-footer{min-height:55px;border-top:1px solid #807c7a;background:transparent;padding-top:18px;text-align:center;}

.panel-footer-next-button{margin-left: 5px !important}

.profile-table{text-align: center;margin-bottom:0px; float:right}

.panel-bottom-home{min-height:200px;border-top:1px solid #807c7a;background:transparent;margin-top:18px;padding-top:12px;}

.well-home{display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;   min-height:36px;margin-bottom:15px;background-color:#5e5d5a;border:0px solid #e3e3e3;border-radius:12px;font-family:'Roboto Medium', Myriad Pro !important;color:#61cd0c; font-size:18px;width:100%;padding-top:4px;padding-left:10px;padding-right:9px;text-align:center;}

.well-home-link{-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex:1; min-width: 35px;}

@media screen and (min-width:420px){
  .profile-image{
    display: inline-block;
    margin-top: -24px !important;
    margin-left: 12px !important;
    }
}

@media screen and (max-width:420px){
  .profile-image{
    margin-top: 0px !important;
    display: block;
    margin: 0 auto;
    }
}

@media screen and (min-width:420px){
  .profile-span{
    display: inline-block;
  }
}

@media screen and (max-width:420px){
  .profile-span{
    display: inline-block;
  }
}

@media screen and (max-width:420px){
  .btn-job-main{
    font-size: 10px !important;
  }
  .btn-job-main-image{
    height: 15px !important;
  }
  .nav {
    margin-top: -20px !important;
  }
}

@media screen and (max-width:330px){
  .signup-last-radio{
    padding-left: 10px !important;
  }
}

@media screen and (max-width:330px){
  .profile-accepted{
    font-size: 14px !important;
  }
  .profile-active{
    font-size: 14px !important;
  }
  .profile-sold{
    font-size: 14px !important;
  }
  .profile-created{
    font-size: 14px !important;
  }
  .profile-invited{
    font-size: 14px !important;
  }
  .profile-circles{
    font-size: 14px !important;
  }

}

.panel-text-highlight{font-family:'Roboto', Trebuchet MS, Arial; font-size:20px; color:#dbfde2;position:relative;display:inline;line-height:1.42857143}

.panel-text-highlight-big{font-family:'Roboto', Trebuchet MS, Arial; font-size:22px; font-weight:bold;color:#dbfde2;position:relative;display:inline;line-height:1.22857143}

.panel-text-data-big{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:24px; color:#7ed490;position:relative;display:inline;float:right;}

.circle-name{font-family:'Roboto Medium', Trebuchet MS, Arial; font-size:18px;color:#7ed490;}

.big-digits{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:42px; color:#61cd0c;position:relative;display:inline;}


.panel-text-data{font-family:'Roboto', Trebuchet MS, Arial; font-size:18px; color:#7ed490;position:relative;display:inline;float:right;}

.panel-text-data-left{font-family:'Roboto', Trebuchet MS, Arial; font-size:18px; color:#7ed490;position:relative;display:inline;float:left;}

.panel-text-data-small{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:16px; color:#7ed490;position:relative;display:inline;}

.panel-body{border-bottom:0px solid #ddd}.panel-default{border-color:#5e5653}.panel-default>.panel-heading{color:#333;background-color:#5e5653;border-color:#5e5653}

.mandatory{font-size:18px; color:#ff9600;float:left;position:relative;}

a{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:18px; color:#f4b952;position:relative;display:inline;text-decoration:none;}

a:hover{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:18px; color:#efefef;position:relative;display:inline;text-decoration:none;}

footer a{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:14px; color:brown;position:relative;display:inline;text-decoration:none;padding-left:20px;}

footer a:hover{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:14px; color:#000;position:relative;display:inline;text-decoration:none;padding-left:20px;}


table td {
    border-top: none !important;
}

.grey-text{font-family:'Roboto Light', Trebuchet MS, Arial;color:#e0e0e0;font-size:16px;}

.grey-text-italic{font-family:'Roboto Light', Trebuchet MS, Arial;color:#e0e0e0;font-size:18px;font-style:italic;}

.grey-text-name{font-family:'Roboto Light', Trebuchet MS, Arial;color:#e0e0e0;font-size:18px; font-weight:bold;}

.grey-text-subname{color:#b5afaf;}

.dark-green-text{font-family:'Roboto Light', Trebuchet MS, Arial;color:#e0e0e0;font-size:16px;}

.date-big{font-family:'Roboto Light', Trebuchet MS, Arial;color:#a9a8a8;font-size:20px;}

.code{font-family:'Roboto Medium', Trebuchet MS, Arial;color:#74706c;font-size:30px; border-radius:18px; background-color:#544e49;padding-right:8px;padding-left:8px;display:inline-block;float:none;margin-top:20px;}

.activation-code{font-family:'Roboto Medium', Trebuchet MS, Arial;color:#b1aca7;font-size:18px; border-radius:18px; background-color:#787878;padding-right:8px;padding-left:8px;}
.job-name{font-family:'Roboto', Trebuchet MS, Arial;font-size:24px;}

h4{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:20px; color:#7e2d01;position:relative;display:inline;}

/*  Circles  */

.circle-container{max-width:180px; margin: 0 auto; min-width:150px; text-align:center;padding-top15px;padding-bottom:30px;}

.outer-circle{border:2px solid #ffcb5a; border-radius:50%;text-align:center;padding:20px;max-width:150px;height:150px;}

.outer-circle-rated{border:2px solid #ffcb5a; margin: 0 auto;border-radius:50%;text-align:center;padding:20px;max-width:150px;height:150px;margin-top:-20px;}

.outer-circle-no-border{border:0px solid #ffcb5a; margin: 0 auto;border-radius:50%;text-align:center;padding:20px;max-width:150px;height:150px;}

/* topics  */

.topic-container{width:165px; height:165px;display:block; float:left;text-align:center;margin-left:15px;margin-right:15px;padding-top15px;padding-bottom:30px;}

.topic-container img{border-radius:12px; display:block;width:165px; height:165px;}


/* Profile  */


.bigger-digits{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:48px; color:#61cd0c;position:relative;display:inline;}

.profile-accepted{font-family:'Roboto', Trebuchet MS, Arial;color:#7ed490;font-size:18px; background:url("../images/bg-accepted.png") no-repeat center top;padding-top:16px;max-width:90px;display:inline;}

.profile-active{font-family:'Roboto', Trebuchet MS, Arial;color:#7ed490;font-size:18px; background:url("../images/bg-active.png") no-repeat center top;padding-top:16px;max-width:70px;display:inline;}

.profile-sold{font-family:'Roboto', Trebuchet MS, Arial;color:#7ed490;font-size:18px; background:url("../images/bg-sold.png") no-repeat center top;padding-top:20px;min-width:120px;display:inline;}


.profile-created{font-family:'Roboto', Trebuchet MS, Arial;color:#7ed490;font-size:18px; background:url("../images/bg-created.png") no-repeat center top;padding-top:18px;max-width:70px;display:inline;}

.profile-invited{font-family:'Roboto', Trebuchet MS, Arial;color:#7ed490;font-size:18px; background:url("../images/bg-invited.png") no-repeat center top;padding-top:18px;max-width:90px;display:inline;}

.profile-circles{font-family:'Roboto', Trebuchet MS, Arial;color:#7ed490;font-size:18px; background:url("../images/bg-circles.png") no-repeat center top;padding-top:18px;max-width:90px;display:inline;}


.navbar-default .navbar-brand{color:#777}.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#efefef;background-color:transparent}.navbar-default .navbar-text{color:#ffcb5a}.navbar-default .navbar-nav>li>a{color:#ffcb5a;}.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#efefef;background-color:transparent}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#ffcb5a;background-color:#5e5653;}.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}.navbar-default .navbar-toggle{border-color:#ddd}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#ddd}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#e7e7e7}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#555;background-color:#e7e7e7}

.one-third{width:33%;float:left;position:relative;display:block;}

.half{width:49%;float:left;position:relative;margin-top:15px;display:block;}

.full{width:100%;float:left;position:relative;display:block;}

.input-lg, .selectpicker{background-color:#6e6661;color:#eee;border:0px;font-family:'Roboto Light', Trebuchet MS, Arial;font-size:16px;}

placeholder{background-color:#6e6661;color:#eee;border:0px;font-family:'Roboto Light', Trebuchet MS, Arial;font-size:18px;}

textarea{ 
    background-color:#6e6661 !important;border:0px !important;color:#eee !important; font-size:16px !important;font-family:'Roboto Light', Trebuchet MS, Arial !important;
}

select{font-family:'Roboto Light', Trebuchet MS, Arial;}

@media screen and (min-width:769px){.navbar-nav.nav-justified>li>a{border-bottom:0px solid #ffcd88;}.navbar-nav.nav-justified>.active>a,.navbar-nav.nav-justified>.active>a:focus,.navbar-nav.nav-justified>.active>a:hover{border:none;text-align:center;color:#ffcb5a;}.row{padding:0px;}.nav{padding:0px;}.navbar-nav>li>a{min-width:130px;}.navbar-nav li a:hover{min-width:130px;}.navbar-nav{min-width:650px;text-align:center; float:none;}.navbar-nav>li.active{min-width:130px;color:#ffcb5a;}}

----

@media screen and (max-width:768px){.nav{max-height:64px;}.nav-home{background-size: 12%;}.nav-jobs{background-size: 25%; }.nav-rewards{background-size: 25%;}.nav-carrots{background-size: 25%;color:#ffcb5a;}.nav-circles{background-size: 25%;}.navbar-nav li a{padding-top:42px;padding-left:0px;padding-right:0px;font-size:9px;max-width:63px;max-height:65px;color:#ffcb5a;}.navbar-nav .active{max-width:63px;max-height:65px;background-color:#5e5653;}.navbar-nav li.active a:focus,.navbar-nav li.active a:hover{padding-top:42px;padding-left:0px;padding-right:0px;font-size:12px;max-width:63px;max-height:65px;}.navbar-nav.nav-justified .active{padding-top:42px;font-size:12px;max-width:63px;max-height:65px;padding-left:0px;padding-right:0px;}.navbar-nav li a{max-height:65px;}.navbar-nav>li.active{max-width:63px;}h4{font-size:16px;}}

@media screen and (max-width:768px){.container{margin:0px auto;padding-left:0px;padding-right:0px;}.container-fluid{margin:0px auto;padding-left:0px;padding-right:0px;}.row{margin:0px auto;padding-left:0px;padding-right:0px;}
.page-title{font-size:24px;height:65px;}.navbar-nav li a{float:left;color:#ffcb5a;}.navbar-default{border-bottom:1px solid #ffa72b;max-height:65px;margin-top:0px;}.navbar li a{margin-top:0px;}table{border:0px;border-collapse:collapse;}}

@media screen and (max-width:768px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777}.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#5e5653}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}.navbar-default .navbar-link{color:#777}.navbar-default .navbar-link:hover{color:#333}.navbar-default .btn-link{color:#777}.navbar-nav li a{font-family:'Roboto Light', Myriad Pro !important;font-color:#ffcb5a;font-size:9px;text-align:center;line-height:1.42857143;max-height:64px;padding-top:42px;border:none;max-width:60px;}.navbar-default .navbar-nav li a{max-height:65px;padding-top:42px;font-size:9px;font-family:'Roboto Light'}.navbar-nav .nav a .active{max-height:64px;padding-top:42px;}.nav{max-height:65px;margin-top:-20px;}}
@media screen and (min-width: 768px) {
  .navbar-nav {
      float: none !important;
      margin: 0;
  }
  .nav {
    margin-top: 0 !important;
  }
}
.footer-links a{font-family:'Roboto Light', Trebuchet MS, Arial; font-size:14px; color:#7e2d01;position:relative;float:left;display:inline;text-decoration:none;padding-right:22px;}

.footer-links a:hover {font-family:'Roboto Light', Trebuchet, Arial; font-size:14px; color:#000;position:relative;float:left;display:inline;text-decoration:none;padding-right:22px;}

.center-block {float: none;}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Popover */
  .popover {
       border-radius:12px;background-color:#544e4b;max-width:230px;border:2px solid #a8a8a8;z-index:10;margin-top:50px;
  }
  /* Popover Header */
  .popover-title {
      background-color:#999;
      color: #333; 
      font-size: 14px;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {max-width:220px;
      background-color:#544e4b;
      color: #FFFFFF;
      padding: 12px;
      border-radius: 10px;
  }
.table-responsive{border:none;}
.container {padding:20px;}
.popover {min-width:180px;}

/*
.popover:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow border-box{backgroud-color:#544e4b;}
.popover:after {
	border-color: rgba(84, 78, 75, 0);
	border-bottom-color: #544e4b;
	border-width: 12px;
	margin-left: -12px;
}
.popover:before {
	border-color: rgba(168, 168, 168, 0);
	border-bottom-color: #a8a8a8;
	border-width: 15px;
	margin-left: -15px;
}
*/

/* Buttons */


.btn-main{border-radius:24px;padding-top:4px;padding-bottom:4px;font-family:'Roboto', Trebuchet MS !important; font-size:20px;line-height:1.43;color:#ff9600;background-color:#5c5651;border:2px solid #ffdab6}
.btn-main.focus,.btn-main:focus{color:#7ed490;background-color:#5c5651;border-color:#7ed490}
.btn-main:hover{color:#efefef;background-color:#666;border-color:#ac2925}
.btn-main.active,.btn-main:active,.open>.dropdown-toggle.btn-main{color:#fff;background-color:#333;border-color:#ac2925}
.btn-main.active.focus,.btn-main.active:focus,.btn-main.active:hover,.btn-main:active.focus,.btn-main:active:focus,.btn-main:active:hover,.open>.dropdown-toggle.btn-main.focus,.open>.dropdown-toggle.btn-main:focus,.open>.dropdown-toggle.btn-main:hover{color:#7ed490;background-color:#7ed490;border-color:#7ed490}
.btn-main.active,.btn-main:active,.open>.dropdown-toggle.btn-main{background-image:none}
.btn-main.disabled.focus,.btn-main.disabled:focus,.btn-main.disabled:hover,.btn-main[disabled].focus,.btn-main[disabled]:focus,.btn-main[disabled]:hover,fieldset[disabled] .btn-main.focus,fieldset[disabled] .btn-main:focus,fieldset[disabled] .btn-main:hover{background-color:#d9534f;border-color:#7ed490}
.btn-main .badge{color:#d9534f;background-color:#fff}



table{border:0px;}

body {
    position: relative;
}

a[aria-expanded=true] .fa-chevron-right {
   display: none;
}
a[aria-expanded=false] .fa-chevron-down {
   display: none;
}

a.icon:before {
  font-family: FontAwesome;
  content: "\f015";
} 



